{% extends 'base.html' %}

{% block title %}View Book | Home{% endblock %}

{% block content %}
    <h1 class="mt-2">All Books</h1>
    <a href="?sort=price" class="btn btn-info mb-2">Sort by Price</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.description }}</td>
                <td>
                    <a href="/edit?bookid={{ book.id }}"><button type="button" class="btn btn-primary">Edit</button></a> 
                    <a href="/delete?bookid={{ book.id }}"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
